[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "caecilia/themes/hugo-story"]
	path = caecilia/themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story.git
