{{ define "main" }}
<section class="wrapper style1 align-center">
    <div class="inner">
        <h1>Impressum</h1>
        
        <div class="content">
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Gesangsverein Cäcilia Dormitz<br>
                Kirchenstraße 9<br>
                91077 Dormitz
            </p>

            <h2>Vorstandsmitglieder</h2>
            <table class="contact-table">
                <tr>
                    <td>1. Vorständin:</td>
                    <td>Cacilia Geyer</td>
                    <td>Tel.: 09134-7553<br>
                    <a href="mailto:caeciliageyer@web.de">caeciliageyer@web.de</a></td>
                </tr>
                <tr>
                    <td>2. Vorstand:</td>
                    <td>Manfred Mölkner</td>
                    <td>Mobil: 0177 5167 167<br>
                    <a href="mailto:manfred.moelkner@web.de">manfred.moelkner@web.de</a></td>
                </tr>
               
            </table>
        </div>
    </div>
</section>
{{ end }} 