
{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

<header id="site-header">
    <div class="inner">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo">
      </a>
  
      <!-- Hamburger toggle button -->
      <button id="nav-toggle" aria-label="Toggle menu">
        &#9776;
      </button>
  
      <!-- Navigation menu -->
      <nav id="nav">
        <ul>
          <li><a href="#">Startseite</a></li>
          <li><a href="#wer">Über uns</a></li>
          <li><a href="#contact">Kontakt</a></li>
          <li><a href="#impressum">Impressum</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  