
{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

<header id="site-header">
    <div class="inner">
        <div class="logo-wrap">
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="Logo">
          </a>
          <button id="nav-toggle" aria-label="Toggle menu">
            <span class="icon">☰</span>
          </button>
  
      <nav id="nav">
        <ul>
          <li><a href="#">Startseite</a></li>
          <li><a href="#wer">Über uns</a></li>
          <li><a href="#contact">Kontakt</a></li>
          <li><a href="#gallery">Gallery</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  